select{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.google-login{
    width: 70%;
}
form input{
    margin-top: 10px;
}
form select{
    margin-top: 10px;
    width: 88%;
}
#signup-button{
    margin-right: 60px;
}