#p1 {
  color: black;
  font-family: Josefin Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
margin-right: 28px;
  flex-shrink: 0;
  margin-top: 10px;
  text-decoration: none;
  flex-shrink: 0;
}
